@import "vars";
// 设置不同尺寸 padding，margin 的间距大小
// t-> top, l -> left, b -> bottom, r -> right, v-> vertical, h->horizontal
@each $gap in $gap-sizes {
  // margin
  .m-#{$gap} {
    margin: #{$gap}px
  }
  .mv-#{$gap} {
    margin: {
      top: #{$gap}px;
      bottom: #{$gap}px;
    }
  }
  .mh-#{$gap} {
    margin: {
      left: #{$gap}px;
      right: #{$gap}px;
    }
  }
  .mt-#{$gap} {
    margin-top: #{$gap}px;
  }
  .mr-#{$gap} {
    margin-right: #{$gap}px
  }
  .mb-#{$gap} {
    margin-bottom: #{$gap}px
  }
  .ml-#{$gap} {
    margin-left: #{$gap}px
  }
  // padding
  .p-#{$gap} {
    padding: #{$gap}px
  }
  .pv-#{$gap} {
    padding: {
      top: #{$gap}px;
      bottom: #{$gap}px;
    }
  }
  .ph-#{$gap} {
    padding: {
      left: #{$gap}px;
      right: #{$gap}px;
    }
  }
  .pt-#{$gap} {
    padding-top: #{$gap}px
  }
  .pr-#{$gap} {
    padding-right: #{$gap}px
  }
  .pb-#{$gap} {
    padding-bottom: #{$gap}px
  }
  .pl-#{$gap} {
    padding-left: #{$gap}px
  }
}
