/* ==================== 全局样式 start ===================== */

/* 所有全局样式都放在这里，约定以g-作为前缀                      */
.g-subtitle {
  display: inline-block;
  margin-top: 4px;
  margin-bottom: 20px;
  color: #333;
  font-weight: 650;
  font-size: 16px;
  line-height: 20px;

  &::before {
    display: inline-block;
    width: 4px;
    height: 18px;
    margin-top: -3px;
    margin-right: 10px;
    vertical-align: middle;
    background-color: #2685e6;
    content: '';
  }
}

.g {
  &-subtitle {
    display: inline-block;
    margin-top: 4px;
    margin-bottom: 20px;
    color: #333;
    font-weight: 650;
    font-size: 16px;
    line-height: 20px;

    &::before {
      display: inline-block;
      width: 4px;
      height: 18px;
      margin-top: -3px;
      margin-right: 10px;
      vertical-align: middle;
      background-color: #2685e6;
      content: '';
    }
  }

  // 文本对应的颜色
  &-text {
    &-primary {
      color: #333333
    }

    &-secondary {
      color: #888888
    }
  }

  &-circle {
    border-radius: 50%;
  }

  // 溢出内容 ... 省略
  &-overflow-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  // 转化为块元素并水平居中
  &-box-horizontal-center {
    margin: {
      left: auto;
      right: auto;
    }
    display: block;
  }

  &-text-center {
    text-align: center;
  }

  &-font {
    &-bold {
      font-weight: bold;
    }

    &-bolder {
      font-weight: bolder;
    }
  }
}

/* ==================== 全局样式 end ===================== */
